<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405758447624-ntlfn8glb1qeibcu9f75olnnbcuk8v7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405758447624-ntlfn8glb1qeibcu9f75olnnbcuk8v7n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>405758447624-90l9i14s1i3f9stohgq0uksci1emn809.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDraYsUS0WfF9QMWtS7BK1qOgY_Om0udlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>405758447624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mapmarkersapp</string>
	<key>PROJECT_ID</key>
	<string>mapmarkersapp-332221</string>
	<key>STORAGE_BUCKET</key>
	<string>mapmarkersapp-332221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405758447624:ios:7794645760a977ecd9c1bd</string>
</dict>
</plist>